Flask==2.2.5
Flask-Cors==4.0.0
gunicorn==21.2.0
h11==0.14.0
h2==2.6.2
h5py==3.8.0
imageio==2.31.2
importlib-metadata==6.7.0
ipython==7.34.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy>=1.19,<1.22
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-gpu==2.10.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
